/*
*
* Copyright (c) 2023 Deemen17
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        EscTilde: EscTilde {
            compatible = "zmk,behavior-mod-morph";
            label = "ESCTILDE";
            bindings = <&kp ESC>, <&kp TILDE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&kp GRAVE     &mo 1              &gresc     &kp N1    &kp N2  &kp N3    &kp N4  &kp N5     &kp N6  &kp N7  &kp N8     &kp N9  &kp N0     &kp MINUS  &kp EQUAL  &kp BACKSLASH  &kp DELETE     &kp HOME
&kp INSERT    &kp DELETE         &kp TAB    &kp Q     &kp W   &kp E     &kp R   &kp T              &kp Y   &kp U      &kp I   &kp O      &kp P      &kp LBKT   &kp RBKT       &kp BACKSPACE  &kp PAGE_UP
&kp HOME      &kp END            &mo 1      &kp A     &kp S   &kp D     &kp F   &kp G              &kp H   &kp J      &kp K   &kp L      &kp SEMI   &kp SQT                   &kp RET        &kp PAGE_DOWN
&kp PAGE_UP   &kp PAGE_DOWN      &kp LSHFT            &kp Z   &kp X     &kp C   &kp V      &kp B           &kp N      &kp M   &kp COMMA  &kp DOT    &kp SLASH  &kp RSHFT      &kp UP         &kp END
&kp C_VOL_UP  &kp C_VOLUME_DOWN  &kp LCTRL  &kp LGUI          &kp LALT  &mo 1   &kp SPACE                  &kp SPACE                     &mo 1      &kp RCTRL  &kp LEFT       &kp DOWN       &kp RIGHT
            >;
        };

        function_layer {
            label = "Functions";
            bindings = <
&bootloader  &trans  &kp TILDE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans       &bootloader
&sys_reset   &trans  &trans     &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans   &trans   &trans   &trans    &trans       &sys_reset
&trans       &trans  &kp CAPS   &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans   &trans   &trans             &trans       &trans
&trans       &trans  &trans             &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans   &trans    &kp PAGE_UP  &trans
&tog 0       &tog 2  &trans     &trans          &trans  &trans  &trans                  &trans                   &trans   &trans   &kp HOME  &kp END      &kp END
            >;
        };

        gaming_layer {
            bindings = <
&kp GRAVE        &mo 1          &gresc     &kp N1        &kp N2  &kp N3        &kp N4     &kp N5     &kp N6  &kp N7  &kp N8     &kp N9  &kp N0     &kp MINUS  &kp EQUAL      &kp BSLH        &kp DELETE      &kp HOME
&kp INSERT       &kp DEL        &kp TAB    &kp Q         &kp W   &kp E         &kp R      &kp T              &kp Y   &kp U      &kp I   &kp O      &kp P      &kp LBKT       &kp RBKT        &kp BSPC        &kp PAGE_UP
&kp HOME         &kp END        &kp CAPS   &kp A         &kp S   &kp D         &kp F      &kp G              &kp H   &kp J      &kp K   &kp L      &kp SEMI   &kp APOS                       &kp ENTER       &kp PAGE_DOWN
&kp PAGE_UP      &kp PAGE_DOWN  &kp LSHFT                &kp Z   &kp X         &kp C      &kp V      &kp B           &kp N      &kp M   &kp COMMA  &kp DOT    &kp FSLH       &kp RSHFT       &kp UP_ARROW    &kp END
&kp C_VOLUME_UP  &kp C_VOL_DN   &kp LCTRL  &kp LEFT_GUI          &kp LEFT_ALT  &kp SPACE  &kp SPACE                  &kp SPACE                     &mo 1      &kp RIGHT_ALT  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT
            >;
        };
    };
};
